body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.circle-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid blue;
    margin-right: 30px;
    padding: 5px;
    
}

.circle-image:hover{
    /*transform: scale(1.1);*/
    box-shadow: 0 0 30px 10px rgb(11, 21, 165);
    animation: spin 2s linear infinite;
}

.square-image {
    width: 180px;
    height: 180px;
    border-radius: 0;
    object-fit: cover;
    border: 5px solid #555;
    margin-right: 30px;
}

.info-box {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}
