*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(138, 255, 255);
}

#heading{
    text-align:center;
}

.container
{
    
    padding:10px 50px;
    max-width:450px;
    min-width: 400px;
    width:60vw;
    height: 70vh;
    background-color: azure;
    border-radius: 10px;

}

.total-box
{
    background-color: rgb(45, 200, 81);
    padding:10px;
    border-radius: 5px;
    margin: 5px;
}

.subject
{
    padding: 5px;
    margin: 5px;
}

button{
    background-color: aquamarine;
    border-radius: 3px;
}